h1 {
    font-family: Poppins, sans-serif;
    font-weight: bold;
}

.main{
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    background-color: rgb(71, 71, 71);
    border-radius: 30px;
    border-color: black;
    border-width: 10px;
    padding: 50px;
    margin-left: 35px;
    margin-top: 75px;
}

.preise{
    color: white;
    display: block;
    background-color: rgb(71, 71, 71);
    border-radius: 30px;
    border-color: black;
    border-width: 10px;
    padding: 30px;
    margin-top: 40px;
}

.versteckt{
    display: none;
}

body {
    font-family: Poppins, sans-serif;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    background-color: rgb(90, 142, 255);
    background-image: url(./ScooTeq.png);
    background-size: cover;
    max-width: fit-content;
    margin-left:auto;
    margin-right:auto;
}
input, select {
    font-family: Poppins, sans-serif;
    padding: 5px;
    border-width: 2px;
    border-radius: 5px;
    border-color: black;
    margin-bottom: 5px;
}

button {
    font-family: Poppins, sans-serif;
    width: 100px;
    padding: 5px;
    border-width: 2px;
    border-radius: 5px;
    border-color: black;
    margin-top: 20px;
}

button:hover {
    background-color: rgb(204, 200, 200);
    cursor: pointer;
}

select:hover {
    cursor: pointer;
}

